<section class="section{{ with .bg }} bg-{{ . }}{{ end }}"{{ with .id }} id="{{ . }}"{{ end }}>
  <div class="container">
    <div class="section-header">
      <h2 id="{{ .heading | anchorize }}">{{ .heading }}</h2>
      <p>{{ .description | markdownify }}</p>
    </div>
    <div class="card-grid">
      {{- range .items }}
      <div class="card">
        <h3 id="{{ .title | anchorize }}">{{ .title }}</h3>
        <p>{{ .description | markdownify }}</p>
      </div>
      {{- end }}
    </div>
  </div>
</section>
