<section class="section{{ with .bg }} bg-{{ . }}{{ end }}"{{ with .id }} id="{{ . }}"{{ end }}>
  <div class="container">
    <div class="section-header">
      <h2 id="{{ .heading | anchorize }}">{{ .heading }}</h2>
      <p>{{ .description | markdownify }}</p>
    </div>
    <div class="card-grid-4">
      {{- range $i, $item := .items }}
      <div class="card">
        {{ with index $.icons $i }}<img class="icon" src="/images/{{ . }}" alt="" aria-hidden="true" width="40" height="40">{{ end }}
        <h3 id="{{ $item.title | anchorize }}">{{ $item.title }}</h3>
        <p>{{ $item.description | markdownify }}</p>
      </div>
      {{- end }}
    </div>
  </div>
</section>
