{{- $parts := split .Inner "---" -}}
{{- $header := index $parts 0 -}}
{{- $items := after 1 $parts -}}
<section class="section{{ with .Get "bg" }} bg-{{ . }}{{ end }}"{{ with .Get "id" }} id="{{ . }}"{{ end }}>
  <div class="container">
    <div class="section-image-top">
      <img src="/images/{{ .Get "image" }}" alt="Remote patch management dashboard" width="2400" height="1600">
    </div>
    <div class="section-header">{{ $header | $.Page.RenderString }}</div>
    <div class="features-3">
      {{- range $items }}
      <div class="feature">{{ . | $.Page.RenderString }}</div>
      {{- end }}
    </div>
  </div>
</section>
